rect.barras {
    fill: steelblue;
}

.barras:hover {
  fill: darkblue;
}

p#titulo {
    font-size: large;
    font-weight: light;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}
